body {
    background: #eee;
}

/* .wrapper {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
} */

.container {
    display: flex;
    align-items: center;
    flex-flow: column;
    height: 100%;
}

.item {
    width: 100%;
    position: relative;
}

.item:nth-child(1) {
    background-color: yellow;
    width: 755px;
    height: 280px;
}

.item:nth-child(2) {
    background-color: purple;
    width: 110px;
    height: 110px;
    top: -195px;
}