div {
    font-family: Courier New, Courier, monospace;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 20px;
    width: 265px;
    margin: 10px;
}

#one {
    background: #FE6247;
    background-image: url(duck.png);
    background-repeat: no-repeat;
    background-size: 75px;
    background-position: 5% 20%;
}

#two {
    background: #633477;
    background-image: url(duck.png);
    background-repeat: no-repeat;
    background-size: 150px;
    background-position: 50% 50%;
}

#three {
    background: #7F7F7F;
    background-image: url(duck.png);
    background-repeat: no-repeat;
    background-size: 75px;
    background-position: 95% 80%;
}

