body {
    background: #eee;
}

/* .wrapper {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
} */

.container {
    display: flex;
    align-items: center;
    max-width: 760px;
}

.item {
    height: 190px;
    width: 190px;
}

.green {
    background-color: green;
    flex-grow: 0;
}

.yellow {
    background-color: yellow;
    flex-grow: 1;
}

.purple {
    background-color: purple;
    flex-grow: 0;
}