h1 {
    color: #FF6347;
}
h2 {
    color: #8A2BE2;
}

p {
    margin: 20px 0px 20px 0px;
    width: 400px;
}

ol > li {
    color:#ff3399 ;
    text-decoration: underline;
}

ol li:last-child {
    color: black;
}