body{
    background-color: white;
}

.header {
    width: 100%;
    height: 88px;
    display: grid;
    grid-template-columns: 88px 250px 1fr 300px 170px;
    grid-template-rows: 88px;
    font-family: 'Karla', sans-serif;
}

.menu {
    width: 100%;
    height: 88px;
}

.header img {
    width: 88px;
    height: 88px;
    border-right: 2px solid #F2F2F2;
    padding: 5px;
    box-sizing: border-box;
}

.cart {
    display: flex;
    background-color: #F2F2F2;
    font-size: 20px;
    align-items: center;
    justify-content: center;
}

.cart p {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart p:after {
    display: inline-block;
    content: "  ";
    width: 30px;
    height: 30px;
    background: url("../assets/if_cart_1814095.svg") no-repeat;
    align-items: center;
}

.menu {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
    font-size: 20px;
    margin: auto;
    color: rgb(25, 25, 25);
    transition: all 0.5s;
}

nav a:hover{
    transition: 0.5s;
    -webkit-transform: rotate(360deg);
}
