body{
    display: inline-block;
    background: lightcyan;
    justify-content: center;
}

html {
    text-align: center;
}
  

container {
    box-sizing: border-box;
    background-color: tomato;
    text-align: center;
    width: 800px;
    height: 600px;
    padding: 50 auto;
    margin: 50 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "first_sidebar content"
                         "second_sidebar content";
}

.first {
    grid-area: first_sidebar;
}

.second {
    grid-area: second_sidebar;
}

sidebar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

content {
    display: inline-block;
    flex-direction: column;
    grid-area: content;
    align-self: center;
    justify-content: center;
}

button {
    margin: 20px;
    font-weight: bold;
    width: 150px;
    height: 30px;
}

.level {
    background-color:  white;
    width: 100px;
    height: 30px;
    border: 1px solid black;
    text-align: center;
    justify-content: center;
}

.green {
    background: lightgreen;
    font: bold;
    font-size: 25px;
    text-align: center;
}