body {
    padding: 50px;
}
#main {
    width: 350px;
    border: 15px solid #4485f2;
}

.height {
    color: white;
    text-align: center;
    height: 130px;
    line-height: 130px;
    
    font-size: 36px;
    font-family: consolas;
}

#north {
    background: #e57575;
}
#east {
    background: #F1EF65;
}
#south {
    background: #A8E5E5;
}
#west {
    background: #7692E2;
}


